<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header id="header-blog">

        <nav>
            <a class="logo" href="/"><img src="logo.png" alt=""></a>
            <button onclick="showNav()">
                <img src="menu.png" alt="">
            </button>
        </nav>
        <aside>
            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </aside>
    </header>

    <main id="blog-section">
        <div class="search-wrap">
            <input type="search" name="search" id="search" placeholder="Search Article">
        </div>

        <article>
            <div>
                <h4>POPULAR</h4>
                <h2>Feugiat sodales at nullam tellus.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.</p>

                <h5>Samantha Leuthex</h5>
                <h5>May 5, 3 min read</h5>
            </div>
            <div>
                <img src="blog1.png" alt="">
            </div>
        </article>



    </main>
    <script src="script.js"></script>
</body>

</html>